body {
    margin: 0;
    padding: 0;
    background-color:whitesmoke
}

header {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

header h1 {
    margin: 0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.header-nav a {
    padding: 15px;
    color: whitesmoke;
    font-size: large;
}

.header-nav a:hover{
    color: gold;
}

.hero {
    background-image: url('../portfolio/assets/testing3.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}

.hero-header {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 100px;
    width: 100%;
    text-align: right;
    margin-top: 280px;
    margin-right: 100px;
}

.section {
    background-color: darkgray;
    color: black;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    padding: 50px;

}

.section h2 {
    font-size: 70px;
    flex: right;
    border-right: 5px solid black;
    padding-right: 75px;
}

#aboutme-nav {
    padding-right: 130px;
}
.aboutMe {
    padding: 50px;
    color: black;
    font-size: xx-large;
    font-weight: bold;

}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.background h3 {
    padding: 50px;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: bolder;
    color: black
}

.contact-info a {
    padding: 40px;
    color: black;
    font-size: xx-large;
}

.contact-info a:hover{
    color:gold
}

.background {
    margin: 0 auto;
    justify-content: space-around;
}

.github-links {
    color: black;
    padding: 40px;
}

.github-links a:hover{
    color:gold
}