body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

header h1 {
    margin: 0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.header-nav a {
    padding: 15px;
    color: white;
    font-size: large;
}

.header-nav a:hover{
    color: chartreuse;
}

.hero {
    background-image: url('../portfolio/assets/IMG_0085.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.section {
    color: black;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
}

.section h2 {
    font-size: 50px;
    flex: right;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-info a {
    padding: 50px;
    color: black;
    font-size: xx-large;
}

.contact-info a:hover{
    color: blue;
}