body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

header h1 {
    margin: 0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.header-nav a {
    padding: 5px;
    color: white;
    font-size: large;
}

.header-nav a:hover{
    color: chartreuse;
}

.hero {
    background-image: url('../portfolio/assets/moto.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-header {
    text-align: center;
    position: relative;
    margin: 0;
    font-size: xx-large;
    display: flex;
}

.section {
    line-height: 1.7;
    color: black;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}